---
import store from '@/store/index';
import BaseLayout from "@/layouts/BaseLayout.astro";
import { PostList } from "@/components/landing/PostList";

const { tag } = Astro.params;

const session = store.openSession();

// Get selected posts
const sortedPosts = await session.query({ indexName: 'Content/ByUrl' })
  .whereIn('labelNames', [tag])
  .orderByDescending("publishedDate")
  .selectFields(["title", "description", "publishedDate", "url", "images", "author", "labelNames"])
  .all();
---

<BaseLayout pageTitle={tag}>
  <section>
    <div
      class="px-8 py-12 md:px-12 mx-auto lg:pb-24 max-w-7xl lg:px-32 lg:pt-48"
    >
    <PostList posts={sortedPosts} client:only="lit" />
    </div>
  </section>
</BaseLayout>
